@media all and (min-width: 768px) {
    .header {
        justify-content: space-between;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
        
    }

    .h {
        font-size: 40px;
    }


}